/* reset do css bordas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* backdrop-filter: blur(3px);-adicionar brush*/
body {
    background-image: url('../img/fundo\ 2.jpg');
    background-size: 70vh 290vh;
    font-family: 'Courgette', cursive;
    height: 100vh;
    font-size: 10px;
}

@media (min-width: 450px) {
    body {
        background-image: url('../img/fundo\ 2.jpg');
        background-size: 100vh 290vh;
        font-family: 'Courgette', cursive;
        height: 100vh;
        font-size: 10px;
    }
}

@media (min-width: 600px) {
    body {
        background-image: url('../img/fundo\ 2.jpg');
        background-size: 120vh 290vh;
        font-family: 'Courgette', cursive;
        height: 100vh;
        font-size: 10px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}
  
.menu li {
    list-style: none;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 1px 20px;
}
  
a {
    color: black;
    text-decoration: none;
}
  
.site-title,
 .site-subtitle {
    text-align: center;
    color: gray;
}
.site-title {
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;
    font-style: italic;
}

.site-subtitle {
    font-family: 'Press Start 2P', cursive;
    font-style: italic;
}
 
.redes h2 {
    font-family: 'Press Start 2P', cursive;
    color: gray;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.img-portfolio {
    width: 60px;
    height: 60px;
    border-radius: 30%;
}   

.redes {
    padding: 2em;
    height: 100vh;
}

.redes figure {
    text-align: center;
}
 
.redes .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    height: 50vh;
}

@media (min-width: 800px) {
    .redes .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 280px);
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
}

@media (min-width: 450px) {
    .redes .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 145px);
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
}