/* reset do css bordas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* backdrop-filter: blur(3px);-adicionar brush*/
body {
    background-image: url('../img/fundo\ 2.jpg');
    background-size: 70vh 290vh;
    font-family: 'Courgette', cursive;
    height: 100vh;
    font-size: 10px;
}

@media (min-width: 450px) {
    body {
        background-image: url('../img/fundo\ 2.jpg');
        background-size: 100vh 290vh;
        font-family: 'Courgette', cursive;
        height: 100vh;
        font-size: 10px;
    }
}

@media (min-width: 600px) {
    body {
        background-image: url('../img/fundo\ 2.jpg');
        background-size: 120vh 290vh;
        font-family: 'Courgette', cursive;
        height: 100vh;
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacaotitulo forwards;
}

@keyframes animacaotitulo {
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.menu {
    background-color:grey;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu:active,
.menu a:hover {
    background-color: black;
    color: white 
}
  
.menu li {
    list-style: none;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 4px 20px;
    transition: background-color 500ms , color 500ms;
}
  
a {
    color: black;
    text-decoration: none;
}
  
.site-title,
 .site-subtitle {
    text-align: center;
    color: black;
}
.site-title {
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;
    font-style: italic;
}

.site-subtitle {
    font-family: 'Press Start 2P', cursive;
    font-style: italic;
}
 
.sobre h2,
.contato h2,
.redes h2 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.sobre a {
    color: peru;
}

.sobre p {
    color: black;
    margin-bottom: 1.4em;
    text-indent: 3em;
}

.sobre .avatar {
    float: left;
    margin-right: 2em;
}

.sobre .avatar img {
    border-radius: 50%;
}

.img-portfolio {
    width: 140px;
    height: 180px;
    /*! border-radius: 40%; */
}

/*.img-portfolio:hover {
    transform: scale(2);
    transition: transform 500ms;
}*/

.flip-card {
    perspective: 550px;
}

.card {
    position: relative;
    width: 142px;
    height: 180px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-frente,
.card-verso {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-verso {
    background-color: white;
    height: 180px;
    width: 142px;
    transform: rotateY(180deg);
}

.sobre,
.contato,
.redes {
    padding: 2em;
    min-height: 100vh;

}

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;   
    }
}
}

.redes figure {
    text-align: center;
}
 
.redes .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    height: 50vh;
}

@media (min-width: 800px) {
    .redes .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 280px);
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
}

@media (min-width: 450px) {
    .redes .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 145px);
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
}

.contato a {
    color: gray;
    font-size: 6em;
}

.contato .icons {
    text-align: center;
}

.contato a:active,
.contato a:hover {
    text-shadow: 5px 5px 3px #333333;
}